body {
    max-width: 1920px;
    width: 100%;
}

main {
  display: flex;
  justify-content: space-around;
}

header {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 30px;
    background-color: #cacaca;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: #363636;
    text-align: center;
    box-shadow: 0px 5px #b2b2b2;
}

.card {
  max-width: 400px;
  width: 100%;
  min-height: 200px;
  margin: 10px;
}

.image {
  max-width: 400px;
  opacity: 1;
  display: block;
  width: 400px;
  height: auto;
  transition: .5s ease;
}

.card:hover .image {
  opacity: 0.3;
}

/*
section {
    margin: 100px;
}

.container {
    margin: 100px;
    position: center;
    width: 80%;
    min-height: 50%;
    padding: 25px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
  display: flex;
  justify-content: center;
}

.image {
    opacity: 1;
    display: block;
    width: 400px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .card:hover .image {
    opacity: 0.3;
  }
  
  .card:hover .middle2 {
    opacity: 1;
  }*/